body {
  font-family: font-family: 'Roboto', sans-serif;
  
}


:root {
    --dark-color: #2F303A;
    --main-color: #2196f3;
    --main-color-2: #757575
    --light-color-background: #E5E5E5;
    --light-color-background2: #F5F4FA
  }
  .section-1{
    color: var(--dark-color);
  }
  .section-2{
    color: var(--main-color);
  }
  .section-3{
    color: var(--main-color-2);
  }
  .section-4{
    color: var(--light-color);
  }
  .section-5{
    color: var(--light-color);
  }


.title-text-paragraph {
    /* Feature 1 */
color:#2F303A ;
font-size: small; 
text-transform: uppercase;

}

.text-paragraph {
    /* Feature 1 */
color: grey;
font-size: small; 
width: 270px;
height: 101px;
left: 215px;
top: 774px;
}

.ul-list-style {
list-style-type: none


}

.list-style {
  display:flex;
  align-items:baseline; 
  justify-content:space-between;
  
  }

.links-style {
  color:#2196F3
  text-decoration: none;
  }

.top-line {
  /* top line bg */

  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

.top-line-nav {
  font-size: small;
  display:flex;  
  align-items:baseline; 
  justify-content:space-between;
}

.logo {

font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0.03em;
text-align: left;

font-family: Oleo Script;
font-size: 26px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0.03em;
text-align: left;

}

.web-studio1 {
  /* WebStudio */

  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.web-studio2 {
  /* WebStudio */

  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color:#000000;
}


.web-studio-link1 {
color: #2196F3;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;

display:flex;  
align-items:baseline; 
justify-content:space-between

/* identical to box height */

letter-spacing: 0.03em;
}


.web-studio-link23 {
color: #000000;
width: 145px;
weight: 31px;
left: 215px;
top: 24px;
  
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
 }

.menu-nav { width: 254px;
  height: 16px;
  left: 453px;
  top: 32px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}



.main {
  /* Header */

background-color: #2F303A;

width: 1600px;
height: 600px;
left: 0px;
top: 80px;
}

.main-text {
/* EFEKTYWNE ROZWIĄZANIA DLA WASZEGO BIZNESU */

width: 696px;
height: 120px;
left: 452px;
top: 280px;

font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
align-items:center
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;

}


.button-main {
width: 200px;
height: 50px;
left: 700px;
top: 430px;
}

.button-studio {
    background: #2196f3;
    border: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    cursor: pointer;
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.60;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 41px 10px 41px;
  }

  .button-self-item:hover {
    background-color: #2196F3;
    color: rgb(236, 238, 240);
    border-radius: 2px;
    cursor: pointer;
  }

  .button-self-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 5;
    border: none;
    background-color: #E7E7E7;
    cursor: pointer;
  }

.footer {
  /* Footer bg */

width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}

.text-footer {
  /* m. Warszawa, Aleje Jerozolimskie 21 */

width: 246px;
height: 21px;
left: 215px;
top: 2208px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: #FFFFFF;
}

.links-footer {
/* +48 111 111 111 */

width: 231px;
height: 21px;
left: 215px;
top: 2268px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}