body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
}

.wrapper-studio {
  height: 2349px;
  width: 1600px;
  left: 3444px;
  top: -2513px;
  border-radius: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.wrapper-portfolio {
  height: 1880px;
  width: 1600px;
  left: 5252px;
  top: -2513px;
  border-radius: 0px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

:root {
    --dark-color: DarkSlateGray;
    --main-color: DarkOrange;
    --main-color-2: DarkViolet;
    --light-color: Gainsboro;
  }
  .paragraph-1{
    color: var(--dark-color);
  }
  .paragraph-2{
    color: var(--main-color);
  }
  .paragraph-3{
    color: var(--main-color-2);
  }
  .paragraph-4{
    color: var(--light-color);
  }

.ul-list-style {
list-style-type: none
}


.links-style {
  color:#2196F3
  text-decoration: none;
  }

.top-line {
  /* top line bg */

  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;

  background: #ffffff;
}

.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  
  letter-spacing: 0.03em;
}

.web-studio1 {
  /* WebStudio */

  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.web-studio2 {
  /* WebStudio */

  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color:#000000;
}


.web-studio-link1 {
color: #2196F3;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
}


.web-studio-link23 {
  color: #000000;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  
  letter-spacing: 0.03em;
  }
.menu-nav {
  width: 254px;
  height: 16px;
  left: 453px;
  top: 32px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}










.buttons {

}



.button-studio {
    background: #2196f3;
    border: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    cursor: pointer;
    font-family: "roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.60;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 41px 10px 41px;
  }

  .button-self-item:hover {
    background-color: #2196F3;
    color: rgb(236, 238, 240);
    border-radius: 2px;
    cursor: pointer;
  }

  .button-self-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 5;
    border: none;
    background-color: #E7E7E7;
    cursor: pointer;
  }